/* -- RESET --- */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* --- BOX-SIZING --- */
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --- CLEARFIX --- */
.clearfix,
.row {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	display: table;
    line-height: 0;
    content: "";
}
.clearfix:after,
.row:after {
	clear: both;
}

/* --- GRID --- */
.row{
	padding: 5px;
}
.column{
	min-height: 50px;
	padding: 15px 15px 0;
}
.column:first-child{
	padding-top: 0;
}
.one{
	background-color: #E811F7;
}
.two{
	background-color: #D700E6;
}
.three{
	background-color: #C500D5;
}
.four{
	background-color: #B300C4;
}
.five{
	background-color: #F7E811;
}
.six{
	background-color: #E6D700;
}
.seven{
	background-color: #D5C600;
}
.eight{
	background-color: #C4B300;
}
.nine{
	background-color: #11F7E8;
}
.ten{
	background-color: #00E6D7;
}
.eleven{
	background-color: #00D5C6;
}
.twelve{
	background-color: #00C4B5;
}
@media (min-width: 768px){
	.column{
		padding-top: 0;
		float: left;
	}
	.one{
		width: 8.333333333333%;
	}
	.two{
		width: 16.666666666667%;
	}
	.three{
		width: 25%;
	}
	.four{
		width: 33.33333333333%;
	}
	.five{
		width: 41.666666666667%;
	}
	.six{
		width: 50%;
	}
	.seven{
		width: 58.333333333333%;
	}
	.eight{
		width: 66.666666666667%;
	}
	.nine{
		width: 75%;
	}
	.ten{
		width: 83.333333333333%;
	}
	.eleven{
		width: 91.666666666667%;
	}	
}